<article id="user">
  <header>
    <%= profile_image_for(@user) %>
    <h1><%= @user.name %></h1>
    <h2><%= mail_to @user.email %></h2>
    <h2><%= @user.username %></h2>
    <h4><%= format_member_since_date(@user) %><h4>
  </header>
  <% if @favorite_movies.any? %>
    <h3><%= pluralize(@favorite_movies.size, "Favorite") %></h3>
    <ul>
      <% @favorite_movies.each do |movie| %>
        <li><%= link_to movie.title, movie %></li>
      <% end %>
    </ul>
  <% end %>
  <% if @reviews.any? %>
    <h3>Reviews</h3>
    <ol id="reviews">
      <li>
        <% @reviews.each do |review| %>
          <%= link_to review.movie.name, review.movie %>
          <span class="review"><%= pluralize(review.stars, "star") %></span>
          <span class="date"><%= time_ago_in_words(review.created_at) %></span>
          <p>
            &quot;<%= review.comment %>
          </p>
        <% end %>
      </li>
    </ol>
  <% end %>
  <footer>
    <nav>
      <% if current_user?(@user) %>
        <%= link_to "Edit Account", edit_user_path(@user) %>
        <%= link_to "Delete Account", @user,
                    :method => :delete,
                    :data => { :confirm => "Are you sure?" },
                    :class => "button" %>
      <% end %>
    </nav>
  </footer>
</article>
